.container {
    background-color: #242020e3;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("../../assets/images/background.jpg");
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    background: #242020;
    width: 150px;
    height: 70px;
    padding: 0px 25px 0px 15px;
    margin: 15px;
    border-radius: 50px;


}

.addContainer h1 {
    color: #fff;
    margin: 0 10px 8px;

}

.addIcon {
    cursor: pointer;
    width: 60px;

}

.taskContainer {
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    
}